* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-Inter);
  background-color: var(--white1);
  color: var(--secondary);
}

:root {
  --background-login: #fcddba;
  --primary: #fd7e34;
  --primary-hover: #ff6600;
  --secondary: #141144;
  --secondary-hover: #19145f;
  --white1: #f5f5f5;
  --white: #ffffff;
  --black: #000000;
  --gray: #ccc;
  --border-itens: #D9D9D9;
  --placeholder: #C4C4C4;
  --font-family-Inter: 'Inter', sans-serif;
  --container-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --danger: #FF4B4B;
  --success: #00C247;
  
  --scrollbar-bg: transparent;
  --scrollbar-thumb: var(--primary);
  --scrollbar-thumb-radius: 10px;

  --error-message: #ff746c;

  --sent-message: #DCF8C6;
  --timestamp: #999;
  --background-whatsapp: #e5ddd5;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg); 
  border-radius: var(--scrollbar-thumb-radius); 
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); 
  border-radius: var(--scrollbar-thumb-radius); 
  border: 3px solid var(--scrollbar-bg); 
}

* {
  scrollbar-width: thin; 
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg); 
}

*::-ms-scrollbar {
  width: 12px;
  background: var(--scrollbar-bg);
}
